---
import '../style/base.css';
import {capitalize, splitCamelCase} from '../lib/string';
import ContentPreviewGrid from '../components/ContentPreviewGrid.vue';
import {getCollection} from "astro:content";
import SiteMeta from "../components/SiteMeta.vue";

interface ContentIndexProperties {
  contentCollectionName: string,
}

const {contentCollectionName} = Astro.props;

const description = capitalize(splitCamelCase(contentCollectionName).join(' ') + ' index');
const title = splitCamelCase(contentCollectionName).map(capitalize).join(' ');

const contentItems = await getCollection(contentCollectionName);
---
<html lang="en">
<head>
  <SiteMeta description={description} title={title + ' index'}/>
</head>
<body>
<!-- do some navigation + title bar component -->
<main>
  <header>
    <h1>The <span class="italic">not</span> Secret Box - {title}</h1>
  </header>
  <ContentPreviewGrid contentlets={contentItems} content-type="blog"/>
</main>
</body>
</html>